#section_profil {
    background-color: white;
    text-align: left;
    margin-left:400px;
    margin-right:400px;
}

#Page{
}


#photosduprofil{
    position:fixed;
    top:50px;
}

#PhotoDeCouverture{
    width:100%;
}

#PhotoDeProfil{
    position:absolute;
    bottom:4px;
    left:3%;
    width:20%;
    height: 50%;
}

#PanneauGauche{
    background-image: url(images/gradientby.jpg);
    background-size: 100% 100%;
    
    width: 15%;
    border-style: groove;
    height: 60.5%;
    position:fixed;
    display: inline-block;
}

#PanneauDroit{
   /* border-style: groove;*/
    margin-top:22.45%;
    margin-left: 22.2%;
    width: 41.3%;

}


#Page button{
    position:fixed;
}
#Information{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}
#Infogenerale{
    margin-left: 8px;
}