#conteneur_du_post{
	display:flex;
	flex-direction:column;
	justify-content:center;

}

#conteneur_du_post_2{
	display:flex;
	flex-direction:row;
	justify-content:center;
	height:160px;
	padding-top:10px;
    padding-top:10px;
    padding-left:10px; 
}

#conteneur_du_post_2 .img-circle{
    height:60px;
    width:60px;
    margin-top:25px;
    margin-left:20px;
}	

#conteneur_du_post_2 form{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-end;
    margin-left:120px;
    padding-right: 20px;
}

#conteneur_du_post_2 form input{
	width:100px;
    height: 35px;
}

#conteneur_du_post_2 form textarea{
	width:130%;
    height: 50%;
    margin-bottom: 5px;
}

#conteneur_newsfeed{
    display:flex;
	flex-direction:row;
	justify-content:flex-start;
    border-style: groove;
	margin-top:3px;
    margin-bottom:5px;
	background-image:url(images/gradientby.jpg);
    background-size: 100% 100%;
    height: 100px;	
}

#conteneur_newsfeed img{
	margin-right:10px;
	margin-left:6px;
    margin-top:20px;
    width:50px;
	height:50px;
}

#contenu_droit{
	display:flex;
	flex-direction:column;
	width:100%;	
    margin-left:0px;
}

#contenu_int{
	top:10px;
	background-color:rgba(255,255,255,0.7);
    border-style: groove;
    border-radius: 15px;
	margin-top:-15px;
    height:80%;
	width:95%;
    padding:5px;
}

#nom_profil{
	color:white;
	padding:0;
	margin-bottom:2.5%;
	height:auto;
}