ul #menu_horizontal { 
    margin: 0px;
    padding: 0;
    width : 100%;
    height : 150px;
   /* background-image:url(images/gradientby3.jpg);
    background-size:1500px 150px;
    background-repeat: no-repeat;*/
}



.topnav {
    overflow: hidden;
    width:100%; 
    height:50px;
    position: fixed;
    background-image:url(images/gradientby.jpg);
    background-size: 100% 100px;
}

.topnav .topnav_logo{
    padding-left: 16.5%;
    width:35%; 
    position: relative;
    float:left;
    padding-right: 100px;
}

.topnav .topnav_icons{
    float:right;
}

.topnav .topnav_icons a{
    padding: 14px 16px;
}

.topnav a.active{
    float:right;
}


.topnav a.active:hover {
    background-color: #ddd;
    color: grey;
 
}

.topnav .icon {
    display: none;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
* html .ui-autocomplete {
    height: 300px;
}

.ui-autocomplete .ui-menu-item-wrapper {
    font-size: 15px;
    border-radius: 0;
    border-bottom: solid #eceff1 2px;
    padding: 10px;
    color: #000;
    background: #f9f9f9;
}
.ui-autocomplete .ui-menu-item {
    color: #000;
    background: #f9f9f9;
}

.ui-autocomplete .ui-menu-item:hover, .ui-menu-item-wrapper:hover {
    color: #fff;
    background: #a8a9d0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	color: #fff;
    background: #967cfc;
    background: #a8a9d0;
    border: 0;
}