#section_profil {
    background-color: white;
    text-align: left;
    margin-left:500px;
    margin-right: 500px;
}
@media screen and (max-width: 1450px){
    #section_profil{
        margin-left:300px;
        margin-right: 300px;
    }
}
@media screen and (max-width: 1290px){
    #section_profil{
        margin-left:200px;
        margin-right: 200px;
    }
}
@media screen and (max-width: 1000px){
    #section_profil{
        margin-left:100px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 800px){
    #section_profil{
        margin-left:0px;
        margin-right: 0px;
    }
}    



#photosduprofil{
    position:fixed;
    width: 851px;
    height: 315px;
    background-color:white;
}

#PhotoDeCouverture{
    height:270px; 
    width:851px;
}

#PhotoDeProfil{
    position:absolute;
    bottom:4px;
	left:0px;
    margin-left:25px;
    width:170px;
    height: 170px;
}

#PanneauGauche{
    background-image: url(images/gradientby.jpg);
    background-size: 100% 100%;
    margin-top:320px;
    width: 250px;
    border-style: groove;
    height: 61%;
    position:fixed;
    display: inline-block;
}

#PanneauDroit{
   /* border-style: groove;*/
    margin-left: 255px;
    width: 595px;
    display: inline-block;
    margin-top:320px;


}

#Information{
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}
#Infogenerale{
    margin-left: 8px;
}

#section_modifprofil{
    padding-left: 500px;
    padding-top:20px;
}

#section_traitement_modif{
    text-align: center;
    padding: 100px;
}

#section_traitement_modif input{
    margin-top: 30px;
    width:170px; 
    display:inline;
}

#section_creepage{
    padding-left: 500px;
    padding-top:20px;
}

#section_creepage input{
    display:inline;
}


@media screen and (max-width: 1450px){
    #section_profil{
        margin-left:200px;
    }
}
@media screen and (max-width: 1290px){
    #section_profil{
        margin-left:0px;
    }
}
    


.enligne{
    display:inline-block;
}

.marge{
    padding-left: 50px;
}
@media screen and (max-width: 650px){
    .marge{
        padding-left:0px;;
    }
}